#formContainer {
        width: 100%;
        font-size: 20px;
    }

	#headerContainer, #iskane{
        width: 100%;
        text-align: center;
    }

#innerContainer {
        width: 511px;
        margin: auto;
        padding: 10px;
    }

    .inputRowWrapper{

        margin: 5px;
        display: block;
        padding: 5px;
        position: relative;
    }
    .inputRowWrapper label{
        display: block;
        width: 238px;
        height: 23px;
        float: left;

        position: relative;

    }
    .inputRowWrapper input{
       display: block;
        width: 240px;
        height: 21px;
        position: relative;

    }
    
    #saveHealth{

        display: inline-block;
        width: 150px;
        height: 44px;
        text-align: center;
		margin-top:10px;
    }
